.jsys-slider-container {
    height: 30em;
    overflow: hidden;
    --animate-duration: 1.5s;
}

.jsys-slider-container .jsys-slider-content {
    height: 100%;
}

.jsys-slider-container .jsys-slider-content .jsys-slider-item {
    display: none;
    width: 100%;
}

.jsys-slider-container .jsys-slider-content .jsys-slider-item.animate__animated {
    display: inline-block;

}

.jsys-slider-container .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.jsys-slider-container .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jsys-slider-container .random {
    --animation-duration: 5s;
    --move_up_value: -15%;
    --move_down_value: 15%;
    --scale_up_value: 1.5;
}

.jsys-slider-container .random .jsys-slider-item {
    transition-property: transform;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-duration: var(--animation-duration);
    position: absolute;
    width: 100%;
}

.jsys-slider-container .random .jsys-slider-item img {
    margin: 0;
}

.moveUp {
    transform: translateY(var(--move_up_value));
    -webkit-transform: translateY(var(--move_up_value));
}

.moveDown {
    transform: translateY(var(--move_down_value));
    -webkit-transform: translateY(var(--move_down_value));
}

.scaleUp {
    transform: scale(var(--scale_up_value));
    -webkit-transform: scale(var(--scale_up_value));
}