{% if field_name == slider_config.content_type %}
    <div class="field-item jsys-slider-content {{ field_name }}">
        {% for item in items %}
            <div class="jsys-slider-item slider-item-{{ loop.index }}">{{ item.content }}</div>
        {% endfor %}
    </div>
{% else %}
    {% if field_name not in slider_config.dynamic_fields %}
        {% if multiple %}
            <div class="field-item field__items {{ clean_field_name }}">
        {% endif %}
        {% for item in items %}
            <div class="field{{ multiple ? '': label_hidden ? '-item '~clean_field_name: '' }}">{{ item.content }}</div>
        {% endfor %}
        {% if multiple %}
            </div>
        {% endif %}
    {% endif %}
{% endif %}